openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net
paths:
  /v3.0/nearest_stations/:
    get:
      tags:
      - getNearestStations
      summary: Список ближайших станций
      operationId: getNearestStations
      parameters:
      - $ref: '#/components/parameters/APIKeyParam'
      - $ref: '#/components/parameters/LatParam'
      - $ref: '#/components/parameters/LngParam'
      - name: distance
        in: query
        description: радиус охвата
        required: true
        schema:
          type: integer
      - $ref: '#/components/parameters/FormatParam'
      - $ref: '#/components/parameters/LangParam'
      - $ref: '#/components/parameters/StationTypesParam'
      - $ref: '#/components/parameters/TransportTypesParam'
      - $ref: '#/components/parameters/OffsetParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NearestStationsResponse'
  /v3.0/copyright/:
    get:
      tags:
      - getCopyright
      summary: Копирайт Яндекс Расписаний
      operationId: getCopyright
      parameters:
      - $ref: '#/components/parameters/APIKeyParam'
      - $ref: '#/components/parameters/FormatParam'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CopyrightResponse'
  /v3.0/stations_list/:
    get:
      tags:
      - getAllStations
      summary: Список всех доступных станций
      operationId: getAllStations
      parameters:
      - $ref: '#/components/parameters/APIKeyParam'
      - $ref: '#/components/parameters/LangParam'
      - $ref: '#/components/parameters/FormatParam'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllStationsResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/AllStationsResponse'
  /v3.0/carrier/:
    get:
      tags:
        - getCarrier
      summary: Информация о перевозчике
      operationId: getCarrier
      parameters:
        - $ref: '#/components/parameters/APIKeyParam'
        - name: code
          in: query
          required: true
          description: Код перевозчика
          schema:
            type: string
        - name: system
          in: query
          required: false
          description: Система кодирования, в которой указывается код перевозчика в запросе
          schema:
            type: string
            default: yandex
            enum:
              - yandex
              - iata
              - sirena
              - express
              - esr
        - $ref: '#/components/parameters/LangParam'
        - $ref: '#/components/parameters/FormatParam'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarrierResponse'
  /v3.0/nearest_settlement/:
    get:
      tags:
        - getNearestSettlement
      summary: Ближайший город
      operationId: getNeaerstSettlement
      parameters:
        - $ref: '#/components/parameters/APIKeyParam'
        - $ref: '#/components/parameters/LngParam'
        - $ref: '#/components/parameters/LatParam'
        - name: distance
          in: query
          required: true
          description: Радиус, в котором следует искать ближайший город, в километрах
          schema:
            type: integer
        - $ref: '#/components/parameters/LangParam'
        - $ref: '#/components/parameters/FormatParam'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NearestSettlement'
  /v3.0/thread/:
    get:
      tags:
        - getThread
      summary: Список станций следования
      operationId: getThread
      parameters:
        - $ref: '#/components/parameters/APIKeyParam'
        - name: uid
          in: query
          required: true
          description: Идентификатор нитки в Яндекс Расписаниях
          schema:
            type: string
        - name: from
          in: query
          required: false
          description: Код станции отправления
          schema:
            type: string
        - name: to
          in: query
          required: false
          description: Код станции прибытия
          schema:
            type: string
        - $ref: '#/components/parameters/LangParam'
        - $ref: '#/components/parameters/FormatParam'
        - name: date
          in: query
          required: false
          description: Дата, на которую необходимо получить список станций следования
          schema:
            type: string
        - $ref: '#/components/parameters/ShowSystemsParam'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thread'
  /v3.0/schedule/:
    get:
      tags:
        - getSchedules
      summary: Расписание рейсов по станции
      operationId: getSchedules
      parameters:
        - $ref: '#/components/parameters/APIKeyParam'
        - name: station
          in: query
          required: true
          description: Код станции
          schema:
            type: string
        - $ref: '#/components/parameters/LangParam'
        - $ref: '#/components/parameters/FormatParam'
        - $ref: '#/components/parameters/DateParam'
        - $ref: '#/components/parameters/TransportTypesParam'
        - name: direction
          in: query
          required: false
          description: Код направления, по которому необходимо получить список рейсов электричек по станции
          schema:
            type: string
        - name: event
          in: query
          required: false
          description: Событие, для которого нужно отфильтровать нитки в расписании
          schema:
            type:
              string
            enum:
              - departure
              - arrival
        - $ref: '#/components/parameters/SystemParam'
        - $ref: '#/components/parameters/ShowSystemsParam'
        - $ref: '#/components/parameters/ResultTimeZoneParam'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleResponse'
  /v3.0/search/:
    get:
      tags:
        - searchSchedules
      summary: Расписание рейсов между станциями
      operationId: searchSchedules
      parameters:
        - $ref: '#/components/parameters/APIKeyParam'
        - name: from
          in: query
          required: true
          description: Код станции отправления
          schema:
            type: string
        - name: to
          in: query
          required: true
          description: Код станции прибытия
          schema:
            type: string
        - $ref: '#/components/parameters/FormatParam'
        - $ref: '#/components/parameters/LangParam'
        - $ref: '#/components/parameters/DateParam'
        - $ref: '#/components/parameters/TransportTypesParam'
        - $ref: '#/components/parameters/SystemParam'
        - $ref: '#/components/parameters/ShowSystemsParam'
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: add_days_mask
          in: query
          required: false
          description: Признак, который указывает, что для каждой нитки в ответе следует вернуть календарь хождения — элемент schedule, вложенный в элемент segment.
          schema:
            type: boolean
        - $ref: '#/components/parameters/ResultTimeZoneParam'
        - name: transfers
          in: query
          required: false
          description: Признак, разрешающий добавить к результатам поиска маршруты с пересадками
          schema:
            type: boolean
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        
components:

  parameters:
    APIKeyParam:
      name: apikey
      in: query
      description: API key
      required: true
      schema:
        type: string
    FormatParam:
      name: format
      in: query
      description: json or xml
      schema:
        type: string
        enum: [json, xml]
        default: json
    LangParam:
      name: lang
      in: query
      description: Язык возвращаемой информации
      required: false
      schema:
        type: string
        default: ru_RU
    LatParam:
      name: lat
      in: query
      description: широта
      required: true
      schema:
        type: number
    LngParam:
      name: lng
      in: query
      description: долгота
      required: true
      schema:
        type: number
    StationTypesParam:
      name: station_types
      in: query
      description: Типы запрашиваемых станций
      required: false
      style: form
      explode: false
      schema:
        type: array
        items:
          $ref: '#/components/schemas/StationType'
    TransportTypesParam:
      name: transport_types
      in: query
      description: Типы транспортного средства
      required: false
      style: form
      explode: false
      schema:
        type: array
        items:
          $ref: '#/components/schemas/TransportType'
    OffsetParam:
      name: offset
      in: query
      description: Смещение относительно первого результата поиска.
      required: false
      schema:
        type: integer
        default: 0
    LimitParam:
      name: limit
      in: query
      description: Максимальное количество результатов поиска в ответе.
      required: false
      schema:
        type: integer
        default: 100
    DateParam:
      name: date
      in: query
      description: Дата, на которую необходимо получить список рейсов
      required: false
      schema:
        type: string
    SystemParam:
      name: system
      in: query
      required: false
      description: Система кодирования, в которой указывается код станции
      schema:
        type: string
        enum:
          - yandex
          - iata
          - sirena
          - express
          - esr
        default: yandex
    ShowSystemsParam:
      name: show_systems
      in: query
      required: false
      description: Cистема кодирования, в которой необходимо получить коды станций
      schema:
        type: string
        enum: [yandex, esr, all]
        default: yandex
    ResultTimeZoneParam:
      name: result_timezone
      in: query
      required: false
      description: Часовой пояс, для которого следует указывать даты и времена в ответе. Часовые пояса следует указывать с помощью идентификаторов базы данных tz.
      schema:
        type: string

  schemas:
  
    Pagination:
      type: object
      description: Информация о постраничном выводе
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    StationType:
      type: string
      description: Тип станции
      enum:
        - station
        - platform
        - stop
        - checkpoint
        - post
        - crossing
        - overtaking_point
        - train_station
        - airport
        - bus_station
        - bus_stop
        - unknown
        - port
        - port_point
        - wharf
        - river_port
        - marine_station
    TransportType:
      type: string
      description: Основной тип транспорта
      enum:
        - plane
        - train
        - suburban
        - bus
        - helicopter
        - water
        - sea
    
    NearestStationsResponse:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          description: Список станций
          items:
            $ref: '#/components/schemas/NearestStation'
    NearestStation:
      type: object
      properties:
        type:
          type: string
          enum: [station, settlement]
        title:
          type: string
        short_title:
          type: string
        popular_title:
          type: string
        code:
          type: string
        lat:
          type: number
        lng:
          type: number
        station_type:
          $ref: '#/components/schemas/StationType'
        station_type_name:
          type: string
        transport_type:
          $ref: '#/components/schemas/TransportType'
        distance:
          type: number
        majority:
          type: integer
        type_choices:
          $ref: '#/components/schemas/TypeChoices'
    TypeChoices:
      type: object
      description: Типы расписаний, доступные для станции
      properties:
        schedule:
          $ref: '#/components/schemas/ScheduleURLS'
        tablo:
          $ref: '#/components/schemas/ScheduleURLS'
        train:
          $ref: '#/components/schemas/ScheduleURLS'
        suburban:
          $ref: '#/components/schemas/ScheduleURLS'
        aeroex:
          $ref: '#/components/schemas/ScheduleURLS'
    ScheduleURLS:
      type: object
      description: Ссылки на мобильную и десктопную версию расписания
      properties:
        desktop_url:
          type: string
          description: Ссылка на десктопную версию расписания
        touch_url:
          type: string
          description: Ссылка на мобильную версию расписания
    
    
    CopyrightResponse:
      type: object
      properties:
        copyright:
          $ref: '#/components/schemas/Copyright'
    Copyright:
      type: object
      description: Данные о баннерах Яндекс Расписаний
      properties:
        logo_vm:
          type: string
          description: Вертикальный монохромный баннер
        url:
          type: string
          description: URL Яндекс Расписаний
        logo_vd:
          type: string
          description: Вертикальный черно-белый баннер
        logo_hy:
          type: string
          description: Горизонтальный цветной баннер
        logo_hd:
          type: string
          description: Горизонтальный черно-белый баннер
        logo_vy:
          type: string
          description: Вертикальный цветной баннер
        text:
          type: string
          description: Уведомительный текст
        logo_hm:
          type: string
          description: Горизонтальный монохромный баннер.
    
    AllStationsResponse:
      type: object
      properties:
        countries:
          type: array
          items:
            $ref: '#/components/schemas/Country'
          description: Список стран
    Country:
      type: object
      properties:
        regions:
          type: array
          items:
            $ref: '#/components/schemas/Region'
          description: Список регионов страны
        codes:
          $ref: '#/components/schemas/PointCodes'
        title:
          type: string
          description: Название страны
    Region:
      type: object
      properties:
        settlements:
          type: array
          items:
            $ref: '#/components/schemas/Settlement'
          description: Список населенных пунктов региона
        codes:
          $ref: '#/components/schemas/PointCodes'
        title:
          type: string
          description: Название региона
    Settlement:
      type: object
      properties:
        title:
          type: string
          description: Название населенного пункта
        codes:
          $ref: '#/components/schemas/PointCodes'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
          description: Список станций в населенном пункте
    Station:
      type: object
      properties:
        direction:
          type: string
          description: Направление движения поездов, на котором находится станция
        codes:
          $ref: '#/components/schemas/StationCodes'
        station_type:
          type: string
          description: Тип станции
        title:
          type: string
          description: Название станции
        transport_type:
          $ref: '#/components/schemas/TransportType'
        latitude:
          oneOf:
            - type: number
            - type: string
          description: Широта станции
        longitude:
          oneOf:
            - type: number
            - type: string
          description: Долгота станции
    StationCodes:
      type: object
      description: Список кодов станции
      properties:
        esr_code:
          type: string
          description: Код железнодорожной станции в системе кодирования ЕСР
        yandex_code:
          type: string
          description: Код в системе кодирования Яндекс Расписаний
    PointCodes:
      type: object
      description: Коды региона. На данный момент используется только система кодирования Яндекс Расписаний
      properties:
        yandex_code:
          type: string
    
    CarrierResponse:
      type: object
      properties:
        carriers:
          type: array
          items:
            $ref: '#/components/schemas/Carrier'
          description: Список перевозчиков
        carrier:
          $ref: '#/components/schemas/Carrier'
    Carrier:
      type: object
      properties:
        code:
          type: integer
          description: Код перевозчика в указанной системе кодирования
        contacts:
          type: string
          description: Контактная информация, в свободной форме
        url:
          type: string
          description: Ссылка на сайт перевозчика
        title:
          type: string
          description: Название перевозчика
        phone:
          type: string
          description: Контактный номер телефона перевозчика
        codes:
          $ref: '#/components/schemas/CarrierCodes'
        address:
          type: string
          description: Юридический адрес перевозчика
        logo:
          type: string
          description: Ссылка на используемый Яндексом логотип перевозчика в растровом формате
        email:
          type: string
          description: Электронный почтовый адрес перевозчика
    CarrierCodes:
      type: object
      description: Список кодов перевозчика в других системах кодирования
      properties:
        icao:
          type: string
          description: Код перевозчика в системе кодирования ICAO
        sirena:
          type: string
          description: Код перевозчика в системе кодирования Sirena
        iata:
          type: string
          description: Код перевозчика в системе кодирования IATA
    
    NearestSettlement:
      type: object
      properties:
        distance:
          type: number
          description: Расстояние до найденного города, в километрах
        code:
          type: string
          description: Код города в системе кодирования Яндекс Расписаний
        title:
          type: string
          description: Название города
        popular_title:
          type: string
          description: Общепринятое название города
        short_title:
          type: string
          description: Краткое название города
        lat:
          type: number
          description: Широта, на которой находится город
        lng:
          type: number
          description: Долгота, на которой находится город
        type:
          type: string
          description: Тип транспортного пункта
          enum:
            - station
            - settlement
    
    Thread:
      type: object
      properties:
        except_days:
          type: string
          description: Дни, в которые нитка не курсирует
        arrival_date:
          type: string
          description: Дата прибытия на станцию, указанную в параметре to
        from:
          type: string
          description: Пункт отправления, указанный в параметре from
        uid:
          type: string
          description: Идентификатор нитки, принятый в Яндекс Расписаниях.
        title:
          type: string
          description: Название нитки
        interval:
          $ref: '#/components/schemas/ThreadInterval'
        departure_date:
          type: string
          description: Дата отправления со станции, указанной в параметре from
        start_time:
          type: string
          description: Время отправления с первой станции следования по местному времени станции
        number:
          type: string
          description: Номер рейса
        short_title:
          type: string
          description: Название нитки, составленное из коротких названий первой и последней станций следования
        days:
          type: string
          description: Дни курсирования нитки
        to:
          type: string
          description: Пункт прибытия, указанный в параметре to
        carrier:
          $ref: '#/components/schemas/ThreadCarrier'
        transport_type:
          $ref: '#/components/schemas/TransportType'
        stops:
          type: array
          items:
            $ref: '#/components/schemas/ThreadStop'
          description: Список станций следования
        vehicle:
          type: string
          description: Название транспортного средства
        start_date:
          type: string
          description: Дата отправления с первой станции следования
        transport_subtype:
          $ref: '#/components/schemas/TransportSubtype'
        express_type:
          type: string
          description: Признак экспресса или аэроэкспресса
          enum:
            - express
            - aeroexpress
    ThreadCarrier:
      type: object
      description: Информация о перевозчике.
      properties:
        code:
          type: integer
          description: Код перевозчика в системе кодирования Яндекс Расписаний
        title:
          type: string
          description: Название перевозчика
        codes:
          type: object
          description: Список кодов перевозчика в других системах кодирования
          properties:
            icao:
              type: string
              description: Код перевозчика в системе кодирования ICAO
            sirena:
              type: string
              description: Код перевозчика в системе кодирования Sirena
            iata:
              type: string
              description: Код перевозчика в системе кодирования IATA
    ThreadInterval:
      type: object
      description: Информация о движении по интервальной нитке
      properties:
        density:
          type: string
          description: Описание периодичности движения в свободной форме
        end_time:
          type: string
          description: Дата и время окончания движения по нитке
        begin_time:
          type: string
          description: Дата и время начала движения по нитке
    ThreadStop:
      type: object
      properties:
        arrival:
          type: string
          description: Время прибытия, в формате ISO 8601
        departure:
          type: string
          description: Время отправления, в формате ISO 8601
        duration:
          type: integer
          description: Время в пути между станциями (в секундах)
        stop_time:
          type: integer
          description: Продолжительность остановки (в секундах)
        terminal:
          type: string
          description: Терминал аэропорта
        platform:
          type: string
          description: Платформа или путь, с которого отправляется рейс
        station:
          $ref: '#/components/schemas/ThreadStation'
    ThreadStation:
      type: object
      properties:
        codes:
          $ref: '#/components/schemas/ThreadStationCodes'
        title:
          type: string
          description: Название станции
        station_type:
          $ref: '#/components/schemas/StationType'
        station_type_name:
          type: string
          description: Название типа станции, зависит от языка ответа
        popular_title:
          type: string
          description: Общепринятое название станции
        short_title:
          type: string
          description: Короткое название станции
        code:
          type: string
          description: Код станции в системе кодирования Яндекс Расписаний
        type:
          type: string
          description: Вид станции
    ThreadStationCodes:
      type: object
      description: Список кодов станции в других системах кодирования
      properties:
        express:
          type: string
          description: Код станции в системе кодирования Экспресс-3
        yandex:
          type: string
          description: Код станции в системе кодирования Яндекс Расписаний
        esr:
          type: string
          description: Код станции в системе кодирования ЕСР
    TransportSubtype:
      type: object
      properties:
        color:
          type: string
          description: Основной цвет транспортного средства в шестнадцатеричном формате
        code:
          type: string
          description: Код подтипа транспорта
          enum:
            - helicopter
            - rex
            - sputnik
            - skiarrow
            - shezh
            - skirus
            - city
            - kalina
            - vostok
            - prostoryaltaya
            - 14vag
            - last
            - exprdal
            - volzhex
            - stdplus
            - express
            - skor
            - fiztekh
            - vag6
            - river
            - sea
        title:
          type: string
          description: Описание подтипа транспорта на естественном языке
    
    ScheduleResponse:
      type: object
      properties:
        date:
          type: string
          description: Дата, на которую получен список рейсов
        pagination:
          $ref: '#/components/schemas/Pagination'
        station:
          $ref: '#/components/schemas/ScheduleStation'
        schedule:
          type: array
          items:
            $ref: '#/components/schemas/Schedule'
        schedule_direction:
          $ref: '#/components/schemas/ScheduleDirection'
        directions:
          $ref: '#/components/schemas/ScheduleDirections'
    ScheduleStation:
      type: object
      properties:
        code:
          type: string
          description: Код станции в системе кодирования Яндекс Расписаний
        station_type:
          $ref: '#/components/schemas/StationType'
        station_type_name:
          type: string
          description: Название типа станции, зависит от языка ответа
        title:
          type: string
          description: Название станции
        popular_title:
          type: string
          description: Общепринятое название станции
        short_title:
          type: string
          description: Короткое название станции
        codes:
          $ref: '#/components/schemas/ScheduleStationCodes'
        transport_type:
          $ref: '#/components/schemas/TransportType'
        type:
          type: string
          description: Вид станции
    ScheduleStationCodes:
      type: object
      description: Список кодов станции в других системах кодирования
      properties:
        yandex:
          type: string
          description: Код станции в системе кодирования Яндекс Расписаний
        esr:
          type: string
          description: Код станции в системе кодирования ЕСР
    Schedule:
      type: object
      properties:
        except_days:
          type: string
          description: Дни, в которые нитка не курсирует
        arrival:
          type: string
          description: Время прибытия, в формате ISO 8601
        thread:
          $ref: '#/components/schemas/ScheduleThread'
        is_fuzzy:
          type: boolean
          description: Признак неточности времени отправления и времени прибытия
        days:
          type: string
          description: Дни курсирования нитки.
        stops:
          type: string
          description: Станции следования рейса, на которых совершается остановка. Описывается в свободной форме
        departure:
          type: string
          description: Время отправления, в формате ISO 8601
        terminal:
          type: string
          description: Терминал аэропорта
        platform:
          type: string
          description: Платформа или путь, с которого отправляется рейс
    ScheduleThread:
      type: object
      description: Информация о нитке
      properties:
        uid:
          type: string
          description: Идентификатор нитки, принятый в Яндекс Расписаниях.
        title:
          type: string
          description: Название нитки
        number:
          type: string
          description: Номер рейса
        short_title:
          type: string
          description: Короткое название нитки
        carrier:
          $ref: '#/components/schemas/ScheduleCarrier'
        transport_type:
          $ref: '#/components/schemas/TransportType'
        vehicle:
          type: string
          description: Название транспортного средства
        transport_sybtype:
          $ref: '#/components/schemas/TransportSubtype'
        express_type:
          type: string
          description: Признак экспресса или аэроэкспресса
          enum:
            - express
            - aeroexpress
    ScheduleCarrier:
      type: object
      description: Информация о перевозчике
      properties:
        code:
          type: integer
          description: Код перевозчика в системе кодирования Яндекс Расписаний
        codes:
          $ref: '#/components/schemas/CarrierCodes'
        title:
          type: string
          description: Название перевозчика
    ScheduleDirection:
      type: object
      description: Код и название запрошенного направления рейсов
      properties:
        code:
          type: string
          description: Код направления
        title:
          type: string
          description: Название направления
    ScheduleDirections:
      type: object
      description: Код направления
      properties:
        code:
          type: string
          description: Код направления
        title:
          type: string
          description: Название направления (расшифровка кода) в свободной форме
          
    SearchResponse:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        interval_segments:
          type: array
          items:
            $ref: '#/components/schemas/SearchIntervalSegment'
          description: Список интервальных рейсов, движение по которым идет регулярно, но без определенного расписания
        segments:
          type: array
          items:
            $ref: '#/components/schemas/SearchSegment'
          description: Список найденных рейсов
        search:
          $ref: '#/components/schemas/SearchInfo'
    SearchIntervalSegment:
      type: object
      properties:
        from:
          $ref: '#/components/schemas/SearchSegmentFrom'
        thread:
          $ref: '#/components/schemas/SearchSegmentThread'
        departure_platform:
          type: string
          description: Номер платформы станции отправления
        stops:
          type: string
          description: Станции следования рейса, на которых совершается остановка. Описывается в свободной форме.
        departure_terminal:
          type: string
          description: Название терминала станции отправления
        to:
          $ref: '#/components/schemas/SearchSegmentTo'
        has_transfers:
          type: boolean
          description: Признак наличия пересадок по ходу рейса
        tickets_info:
          $ref: '#/components/schemas/SearchSegmentTicketsInfo'
        duration:
          type: integer
          description: Продолжительность рейса (в секундах)
        arrival_terminal:
          type: string
          description: Название терминала станции прибытия
        start_date:
          type: string
          description: Дата отправления рейса
        arrival_platform:
          type: string
          description: Номер платформы станции прибытия
    SearchSegmentFrom:
      type: object
      description: Информация о станции отправления рейса
      properties:
        code:
          type: string
          description: Код пункта отправления в системе кодирования Яндекс Расписаний
        title:
          type: string
          description: Название пункта отправления
        station_type:
          $ref: '#/components/schemas/StationType'
        station_type_name:
          type: string
          description: Название типа пункта отправления, зависит от языка ответа
        popular_title:
          type: string
          description: Общепринятое название пункта отправления
        short_title:
          type: string
          description: Короткое название пункта отправления
        transport_type:
          $ref: '#/components/schemas/TransportType'
        type:
          type: string
          description: Вид пункта отправления
          enum: [station, settlement]
    SearchSegmentThread:
      type: object
      description: Информация о нитке рейса
      properties:
        uid:
          type: string
          description: Идентификатор нитки, принятый в Яндекс Расписаниях.
        title:
          type: string
          description: Название нитки
        interval:
          $ref: '#/components/schemas/SearchSegmentThreadInterval'
        number:
          type: string
          description: Номер рейса
        short_title:
          type: string
          description: Короткое название нитки
        thread_method_link:
          type: string
          description: URL запроса информации о нитке с идентификатором, указанным в ключе uid
        carrier:
          $ref: '#/components/schemas/SearchSegmentCarrier'
        transport_type:
          $ref: '#/components/schemas/TransportType'
        vehicle:
          type: string
          description: Название транспортного средства
        transport_subtype:
          $ref: '#/components/schemas/TransportSubtype'
        express_type:
          type: string
          description: Признак экспресса или аэроэкспресса
          enum:
            - express
            - aeroexpress
    SearchSegmentThreadInterval:
      type: object
      description: Информация о движении по интервальной нитке
      properties:
        density:
          type: string
          description: Описание периодичности движения в свободной форме.
        end_time:
          type: string
          description: Дата и время окончания движения по нитке. Всегда указывается в часовом поясе станции отправления.
        begin_time:
          type: string
          description: Дата и время начала движения по нитке. Всегда указывается в часовом поясе станции отправления.
    SearchSegmentCarrier:
      type: object
      description: Информация о перевозчике
      properties:
        code:
          type: integer
          description: Код перевозчика в системе кодирования Яндекс Расписаний
        contacts:
          type: string
          description: Контактная информация, в свободной форме
        url:
          type: string
          description: Ссылка на сайт перевозчика
        logo_svg:
          type: string
          description: Ссылка на используемый Яндексом логотип перевозчика в формате SVG
        title:
          type: string
          description: Название перевозчика
        phone:
          type: string
          description: Контактный номер телефона перевозчика
        codes:
          $ref: '#/components/schemas/CarrierCodes'
        address:
          type: string
          description: Юридический адрес перевозчика
        logo:
          type: string
          description: Ссылка на используемый Яндексом логотип перевозчика в растровом формате
        email:
          type: string
          description: Электронный почтовый адрес перевозчика
    SearchSegmentTo:
      type: object
      description: Информация о станции прибытия рейса
      properties:
        code:
          type: string
          description: Код станции прибытия в системе кодирования Яндекс Расписаний
        title:
          type: string
          description: Название станции прибытия
        station_type:
          $ref: '#/components/schemas/StationType'
        station_type_name:
          type: string
          description: Название типа пункта отправления, зависит от языка ответа
        popular_title:
          type: string
          description: Общепринятое название пункта отправления
        short_title:
          type: string
          description: Короткое название пункта отправления
        transport_type:
          $ref: '#/components/schemas/TransportType'
        type:
          type: string
          description: Вид пункта отправления
          enum: [station, settlement]
    SearchSegmentTicketsInfo:
      type: object
      description: Информация о доступных типах билетов и их цене
      properties:
        et_marker:
          type: boolean
          description: Признак возможности купить электронный билет
        places:
          type: array
          items:
            $ref: '#/components/schemas/SearchSegmentTicketPlace'
          description: Доступные типы и цена билетов
    SearchSegmentTicketPlace:
      type: object
      properties:
        currency:
          type: string
          description: Идентификатор валюты, в которой указана цена
        price:
          type: object
          description: Цена билета
          properties:
            cents:
              type: integer
              description: Целое число дополнительных единиц валюты (например, копеек или центов)
            whole:
              type: integer
              description: Целое число основных единиц валюты (например, рублей)
        name:
          type: string
          description: Название типа билета (например, «эконом»)
    SearchSegment:
      type: object
      properties:
        arrival:
          type: string
          description: Время прибытия, в формате ISO 8601
        from:
          $ref: '#/components/schemas/SearchSegmentFrom'
        thread:
          $ref: '#/components/schemas/SearchSegmentThread'
        departure_platform:
          type: string
          description: Номер платформы станции отправления
        departure:
          type: string
          description: Время отправления, в формате ISO 8601
        stops:
          type: string
          description: Станции следования рейса, на которых совершается остановка. Описывается в свободной форме.
        departure_terminal:
          type: string
          description: Название терминала станции отправления
        to:
          $ref: '#/components/schemas/SearchSegmentTo'
        has_transfers:
          type: boolean
          description: Признак наличия пересадок по ходу рейса
        tickets_info:
          $ref: '#/components/schemas/SearchSegmentTicketsInfo'
        duration:
          type: integer
          description: Продолжительность рейса (в секундах)
        arrival_terminal:
          type: string
          description: Название терминала станции прибытия
        start_date:
          type: string
          description: Дата отправления рейса
        arrival_platform:
          type: string
          description: Номер платформы станции прибытия
    SearchInfo:
      type: object
      description: Указанная в запросе дата, пункт отправления и пункт прибытия
      properties:
        date:
          type: string
          description: Дата, на которую получен список рейсов, в формате «YYYY-MM-DD»
        to:
          $ref: '#/components/schemas/SearchInfoFromTo'
        from:
          $ref: '#/components/schemas/SearchInfoFromTo'
    SearchInfoFromTo:
      type: object
      description: Информация об указанном в запросе пункте отправления/назначения
      properties:
        code:
          type: string
          description: Код пункта отправления/назначения в системе кодирования Яндекс Расписаний
        type:
          type: string
          description: Вид пункта отправления/назначения
          enum: [station, settlement]
        popular_title:
          type: string
          description: Общепринятое название пункта отправления/назначения
        short_title:
          type: string
          description: Короткое название пункта отправления/назначения
        title:
          type: string
          description: Название пункта отправления/назначения
        
        
        
        
      
      
