openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net
tags:
- name: Список ближайших станций
  description: Список ближайших станций
paths:
  /v3.0/nearest_stations/:
    get:
      tags:
      - getNearestStations
      summary: Список ближайших станций
      operationId: getNearestStations
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: долгота
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: радиус охвата
        required: true
        schema:
          type: integer
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          $ref: '#/components/schemas/ResponseFormat'
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      - name: station_types
        in: query
        description: Типы запрашиваемых станций
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/StationType'
      - name: transport_types
        in: query
        description: Типы транспортного средства
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/TransportType'
      - name: offset
        in: query
        description: Смещение относительно первого результата поиска.
        required: false
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: Максимальное количество результатов поиска в ответе.
        required: false
        schema:
          type: integer
          default: 100
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NearestStations'
components:
  schemas:
    ResponseFormat:
      type: string
      enum: [json, xml]
      default: json
    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    NearestStations:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
    Station:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/PointType'
        title:
          type: string
        short_title:
          type: string
        popular_title:
          type: string
        code:
          type: string
        lat:
          type: number
        lng:
          type: number
        station_type:
          $ref: '#/components/schemas/StationType'
        station_type_name:
          type: string
        transport_type:
          $ref: '#/components/schemas/TransportType'
        distance:
          type: number
        majority:
          type: integer
        type_choices:
          $ref: '#/components/schemas/Schedule'
    StationType:
      type: string
      enum:
        - station
        - platform
        - stop
        - checkpoint
        - post
        - crossing
        - overtaking_point
        - train_station
        - airport
        - bust_station
        - bus_stop
        - unknown
        - port
        - port_point
        - wharf
        - river_port
        - marine_station
    TransportType:
      type: string
      enum:
        - plane
        - train
        - suburban
        - bus
        - sea
        - river
        - helicopter
    PointType:
      type: string
      enum: [station, settlement]
    Schedule:
      type: object
      properties:
        desktop_url:
          type: string
        touch_url:
          type: string
