openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net
paths:
  /v3.0/nearest_stations/:
    get:
      tags:
      - getNearestStations
      summary: Список ближайших станций
      operationId: getNearestStations
      parameters:
      - $ref: '#/components/parameters/APIKeyParam'
      - $ref: '#/components/parameters/LatParam'
      - $ref: '#/components/parameters/LngParam'
      - name: distance
        in: query
        description: радиус охвата
        required: true
        schema:
          type: integer
      - $ref: '#/components/parameters/FormatParam'
      - $ref: '#/components/parameters/LangParam'
      - $ref: '#/components/parameters/StationTypesParam'
      - $ref: '#/components/parameters/TransportTypesParam'
      - $ref: '#/components/parameters/OffsetParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NearestStationsResponse'
  /v3.0/copyright/:
    get:
      tags:
      - getCopyright
      summary: Копирайт Яндекс Расписаний
      operationId: getCopyright
      parameters:
      - $ref: '#/components/parameters/APIKeyParam'
      - $ref: '#/components/parameters/FormatParam'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CopyrightResponse'
  /v3.0/stations_list/:
    get:
      tags:
      - getAllStations
      summary: Список всех доступных станций
      operationId: getAllStations
      parameters:
      - $ref: '#/components/parameters/APIKeyParam'
      - $ref: '#/components/parameters/LangParam'
      - $ref: '#/components/parameters/FormatParam'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllStationsResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/AllStationsResponse'
  /v3.0/carrier/:
    get:
      tags:
        - getCarrier
      summary: Информация о перевозчике
      operationId: getCarrier
      parameters:
        - $ref: '#/components/parameters/APIKeyParam'
        - name: code
          in: query
          required: true
          description: Код перевозчика
          schema:
            type: string
        - name: system
          in: query
          required: false
          description: Система кодирования, в которой указывается код перевозчика в запросе
          schema:
            type: string
            default: yandex
            enum:
              - yandex
              - iata
              - sirena
              - express
              - esr
        - $ref: '#/components/parameters/LangParam'
        - $ref: '#/components/parameters/FormatParam'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarrierResponse'
  /v3.0/nearest_settlement/:
    get:
      tags:
        - getNearestSettlement
      summary: Ближайший город
      operationId: getNeaerstSettlement
      parameters:
        - $ref: '#/components/parameters/APIKeyParam'
        - $ref: '#/components/parameters/LngParam'
        - $ref: '#/components/parameters/LatParam'
        - name: distance
          in: query
          required: true
          description: Радиус, в котором следует искать ближайший город, в километрах
          schema:
            type: integer
        - $ref: '#/components/parameters/LangParam'
        - $ref: '#/components/parameters/FormatParam'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NearestSettlement'
  /v3.0/thread/:
    get:
      tags:
        - getThread
      summary: Список станций следования
      operationId: getThread
      parameters:
        - $ref: '#/components/parameters/APIKeyParam'
        - name: uid
          in: query
          required: true
          description: Идентификатор нитки в Яндекс Расписаниях
          schema:
            type: string
        - name: from
          in: query
          required: false
          description: Код станции отправления
          schema:
            type: string
        - name: to
          in: query
          required: false
          description: Код станции прибытия
          schema:
            type: string
        - $ref: '#/components/parameters/LangParam'
        - $ref: '#/components/parameters/FormatParam'
        - name: date
          in: query
          required: false
          description: Дата, на которую необходимо получить список станций следования
          schema:
            type: string
        - name: show_systems
          in: query
          required: false
          description: Cистема кодирования, в которой необходимо получить коды станций
          schema:
            type: string
            enum: [yandex, esr, all]
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thread'
        
  
components:
  parameters:
    APIKeyParam:
      name: apikey
      in: query
      description: API key
      required: true
      schema:
        type: string
    FormatParam:
      name: format
      in: query
      description: json or xml
      schema:
        type: string
        enum: [json, xml]
        default: json
    LangParam:
      name: lang
      in: query
      description: Язык возвращаемой информации
      required: false
      schema:
        type: string
        default: ru_RU
    LatParam:
      name: lat
      in: query
      description: широта
      required: true
      schema:
        type: number
    LngParam:
      name: lng
      in: query
      description: долгота
      required: true
      schema:
        type: number
    StationTypesParam:
      name: station_types
      in: query
      description: Типы запрашиваемых станций
      required: false
      style: form
      explode: false
      schema:
        type: array
        items:
          $ref: '#/components/schemas/StationType'
    TransportTypesParam:
      name: transport_types
      in: query
      description: Типы транспортного средства
      required: false
      style: form
      explode: false
      schema:
        type: array
        items:
          $ref: '#/components/schemas/TransportType'
    OffsetParam:
      name: offset
      in: query
      description: Смещение относительно первого результата поиска.
      required: false
      schema:
        type: integer
        default: 0
    LimitParam:
      name: limit
      in: query
      description: Максимальное количество результатов поиска в ответе.
      required: false
      schema:
        type: integer
        default: 100

  schemas:
    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    NearestStationsResponse:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/NearestStation'
    NearestStation:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/PointType'
        title:
          type: string
        short_title:
          type: string
        popular_title:
          type: string
        code:
          type: string
        lat:
          type: number
        lng:
          type: number
        station_type:
          $ref: '#/components/schemas/StationType'
        station_type_name:
          type: string
        transport_type:
          $ref: '#/components/schemas/TransportType'
        distance:
          type: number
        majority:
          type: integer
        type_choices:
          $ref: '#/components/schemas/Schedule'
    StationType:
      type: string
      enum:
        - station
        - platform
        - stop
        - checkpoint
        - post
        - crossing
        - overtaking_point
        - train_station
        - airport
        - bus_station
        - bus_stop
        - unknown
        - port
        - port_point
        - wharf
        - river_port
        - marine_station
    TransportType:
      type: string
      enum:
        - plane
        - train
        - suburban
        - bus
        - helicopter
        - water
        - sea
    PointType:
      type: string
      enum: [station, settlement]
    Schedule:
      type: object
      properties:
        desktop_url:
          type: string
        touch_url:
          type: string
    CopyrightResponse:
      type: object
      properties:
        copyright:
          $ref: '#/components/schemas/Copyright'
    Copyright:
      type: object
      properties:
        logo_vm:
          type: string
          description: Вертикальный монохромный баннер.
        url:
          type: string
        logo_vd:
          type: string
        logo_hy:
          type: string
        logo_hd:
          type: string
        logo_vy:
          type: string
        text:
          type: string
        logo_hm:
          type: string
    AllStationsResponse:
      type: object
      properties:
        countries:
          type: array
          items:
            $ref: '#/components/schemas/Country'
    Country:
      type: object
      properties:
        regions:
          type: array
          items:
            $ref: '#/components/schemas/Region'
        codes:
          $ref: '#/components/schemas/PointCodes'
        title:
          type: string
          description: Название страны.
    Region:
      type: object
      properties:
        settlements:
          type: array
          items:
            $ref: '#/components/schemas/Settlement'
        codes:
          $ref: '#/components/schemas/PointCodes'
        title:
          type: string
          description: Название региона
    Settlement:
      type: object
      properties:
        title:
          type: string
          description: Название населенного пункта
        codes:
          $ref: '#/components/schemas/PointCodes'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
    Station:
      type: object
      properties:
        direction:
          type: string
          description: Направление движения поездов, на котором находится станция
        codes:
          $ref: '#/components/schemas/StationCodes'
        station_type:
          #$ref: '#/components/schemas/StationType'
          type: string
        title:
          type: string
          description: Название станции
        transport_type:
          $ref: '#/components/schemas/TransportType'
        latitude:
          oneOf:
            - type: number
            - type: string
          description: Широта станции
        longitude:
          oneOf:
            - type: number
            - type: string
          description: Долгота станции
    StationCodes:
      type: object
      properties:
        esr_code:
          type: string
          description: Код железнодорожной станции в системе кодирования ЕСР
        yandex_code:
          type: string
          description: Код в системе кодирования Яндекс Расписаний
    PointCodes:
      type: object
      properties:
        yandex_code:
          type: string
    CarrierResponse:
      type: object
      properties:
        carriers:
          type: array
          items:
            $ref: '#/components/schemas/Carrier'
          description: Список перевозчиков
        carrier:
          $ref: '#/components/schemas/Carrier'
    Carrier:
      type: object
      properties:
        code:
          type: integer
          description: Код перевозчика в указанной системе кодирования
        contacts:
          type: string
          description: Контактная информация, в свободной форме
        url:
          type: string
          description: Ссылка на сайт перевозчика
        title:
          type: string
          description: Название перевозчика
        phone:
          type: string
          description: Контактный номер телефона перевозчика
        codes:
          $ref: '#/components/schemas/CarrierCodes'
        address:
          type: string
          description: Юридический адрес перевозчика
        logo:
          type: string
          description: Ссылка на используемый Яндексом логотип перевозчика в растровом формате
        email:
          type: string
          description: Электронный почтовый адрес перевозчика
    CarrierCodes:
      type: object
      properties:
        icao:
          type: string
          description: Код перевозчика в системе кодирования ICAO
        sirena:
          type: string
          description: Код перевозчика в системе кодирования Sirena
        iata:
          type: string
          description: Код перевозчика в системе кодирования IATA
    NearestSettlement:
      type: object
      properties:
        distance:
          type: number
          description: Расстояние до найденного города, в километрах
        code:
          type: string
          description: Код города в системе кодирования Яндекс Расписаний
        title:
          type: string
          description: Название города
        popular_title:
          type: string
          description: Общепринятое название города
        short_title:
          type: string
          description: Краткое название города
        lat:
          type: number
          description: Широта, на которой находится город
        lng:
          type: number
          description: Долгота, на которой находится город
        type:
          type: string
          description: Тип транспортного пункта
          enum:
            - station
            - settlement
    Thread:
      type: object
      properties:
        except_days:
          type: string
          description: Дни, в которые нитка не курсирует
        arrival_date:
          type: string
          description: Дата прибытия на станцию, указанную в параметре to
        from:
          type: string
          description: Пункт отправления, указанный в параметре from
        uid:
          type: string
          description: Идентификатор нитки, принятый в Яндекс Расписаниях.
        title:
          type: string
          description: Название нитки
        interval:
          $ref: '#/components/schemas/ThreadInterval'
        departure_date:
          type: string
          description: Дата отправления со станции, указанной в параметре from
        start_time:
          type: string
          description: Время отправления с первой станции следования по местному времени станции
        number:
          type: string
          description: Номер рейса
        short_title:
          type: string
          description: Название нитки, составленное из коротких названий первой и последней станций следования
        days:
          type: string
          description: Дни курсирования нитки
        to:
          type: string
          description: Пункт прибытия, указанный в параметре to
        carrier:
          $ref: '#/components/schemas/ThreadCarrier'
        transport_type:
          $ref: '#/components/schemas/TransportType'
        stops:
          type: array
          items:
            $ref: '#/components/schemas/ThreadStop'
          description: Список станций следования
        vehicle:
          type: string
          description: Название транспортного средства
        start_date:
          type: string
          description: Дата отправления с первой станции следования
        transport_subtype:
          $ref: '#/components/schemas/TransportSubtype'
        express_type:
          type: string
          description: Признак экспресса или аэроэкспресса
          enum:
            - express
            - aeroexpress
    ThreadCarrier:
      type: object
      description: Информация о перевозчике.
      properties:
        code:
          type: integer
          description: Код перевозчика в системе кодирования Яндекс Расписаний
        title:
          type: string
          description: Название перевозчика
        codes:
          type: object
          description: Список кодов перевозчика в других системах кодирования
          properties:
            icao:
              type: string
              description: Код перевозчика в системе кодирования ICAO
            sirena:
              type: string
              description: Код перевозчика в системе кодирования Sirena
            iata:
              type: string
              description: Код перевозчика в системе кодирования IATA
    ThreadInterval:
      type: object
      description: Информация о движении по интервальной нитке
      properties:
        density:
          type: string
          description: Описание периодичности движения в свободной форме
        end_time:
          type: string
          description: Дата и время окончания движения по нитке
        begin_time:
          type: string
          description: Дата и время начала движения по нитке
    ThreadStop:
      type: object
      properties:
        arrival:
          type: string
          description: Время прибытия, в формате ISO 8601
        departure:
          type: string
          description: Время отправления, в формате ISO 8601
        duration:
          type: integer
          description: Время в пути между станциями (в секундах)
        stop_time:
          type: integer
          description: Продолжительность остановки (в секундах)
        terminal:
          type: string
          description: Терминал аэропорта
        platform:
          type: string
          description: Платформа или путь, с которого отправляется рейс
        station:
          $ref: '#/components/schemas/ThreadStation'
    ThreadStation:
      type: object
      properties:
        codes:
          $ref: '#/components/schemas/ThreadStationCodes'
        title:
          type: string
          description: Название станции
        station_type:
          $ref: '#/components/schemas/StationType'
        station_type_name:
          type: string
          description: Название типа станции, зависит от языка ответа
        popular_title:
          type: string
          description: Общепринятое название станции
        short_title:
          type: string
          description: Короткое название станции
        code:
          type: string
          description: Код станции в системе кодирования Яндекс Расписаний
        type:
          type: string
          description: Вид станции
    ThreadStationCodes:
      type: object
      description: Список кодов станции в других системах кодирования
      properties:
        express:
          type: string
          description: Код станции в системе кодирования Экспресс-3
        yandex:
          type: string
          description: Код станции в системе кодирования Яндекс Расписаний
        esr:
          type: string
          description: Код станции в системе кодирования ЕСР
    TransportSubtype:
      type: object
      properties:
        color:
          type: string
          description: Основной цвет транспортного средства в шестнадцатеричном формате
        code:
          type: string
          description: Код подтипа транспорта
          enum:
            - helicopter
            - rex
            - sputnik
            - skiarrow
            - shezh
            - skirus
            - city
            - kalina
            - vostok
            - prostoryaltaya
            - 14vag
            - last
            - exprdal
            - volzhex
            - stdplus
            - express
            - skor
            - fiztekh
            - vag6
            - river
            - sea
        title:
          type: string
          description: Описание подтипа транспорта на естественном языке
        
        
          
        
        
        
        
        
      
      
