openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net
paths:
  /v3.0/nearest_stations/:
    get:
      tags:
      - getNearestStations
      summary: Список ближайших станций
      operationId: getNearestStations
      parameters:
      - $ref: '#/components/parameters/APIKeyParam'
      - $ref: '#/components/parameters/LatParam'
      - $ref: '#/components/parameters/LngParam'
      - $ref: '#/components/parameters/DistanceParam'
      - $ref: '#/components/parameters/FormatParam'
      - $ref: '#/components/parameters/LangParam'
      - $ref: '#/components/parameters/StationTypesParam'
      - $ref: '#/components/parameters/TransportTypesParam'
      - $ref: '#/components/parameters/OffsetParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NearestStationsResponse'
  /v3.0/copyright/:
    get:
      tags:
      - getCopyright
      summary: Копирайт Яндекс Расписаний
      operationId: getCopyright
      parameters:
      - $ref: '#/components/parameters/APIKeyParam'
      - $ref: '#/components/parameters/FormatParam'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CopyrightResponse'
  /v3.0/stations_list/:
    get:
      tags:
      - getAllStations
      summary: Список всех доступных станций
      operationId: getAllStations
      parameters:
      - $ref: '#/components/parameters/APIKeyParam'
      - $ref: '#/components/parameters/LangParam'
      - $ref: '#/components/parameters/FormatParam'
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllStationsResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/AllStationsResponse'
  
components:
  parameters:
    APIKeyParam:
      name: apikey
      in: query
      description: API key
      required: true
      schema:
        type: string
    FormatParam:
      name: format
      in: query
      description: json or xml
      schema:
        type: string
        enum: [json, xml]
        default: json
    LangParam:
      name: lang
      in: query
      description: Язык возвращаемой информации
      required: false
      schema:
        type: string
        default: ru_RU
    LatParam:
      name: lat
      in: query
      description: широта
      required: true
      schema:
        type: number
    LngParam:
      name: lng
      in: query
      description: долгота
      required: true
      schema:
        type: number
    DistanceParam:
      name: distance
      in: query
      description: радиус охвата
      required: true
      schema:
        type: integer
    StationTypesParam:
      name: station_types
      in: query
      description: Типы запрашиваемых станций
      required: false
      style: form
      explode: false
      schema:
        type: array
        items:
          $ref: '#/components/schemas/StationType'
    TransportTypesParam:
      name: transport_types
      in: query
      description: Типы транспортного средства
      required: false
      style: form
      explode: false
      schema:
        type: array
        items:
          $ref: '#/components/schemas/TransportType'
    OffsetParam:
      name: offset
      in: query
      description: Смещение относительно первого результата поиска.
      required: false
      schema:
        type: integer
        default: 0
    LimitParam:
      name: limit
      in: query
      description: Максимальное количество результатов поиска в ответе.
      required: false
      schema:
        type: integer
        default: 100

  schemas:
    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    NearestStationsResponse:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/NearestStation'
    NearestStation:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/PointType'
        title:
          type: string
        short_title:
          type: string
        popular_title:
          type: string
        code:
          type: string
        lat:
          type: number
        lng:
          type: number
        station_type:
          $ref: '#/components/schemas/StationType'
        station_type_name:
          type: string
        transport_type:
          $ref: '#/components/schemas/TransportType'
        distance:
          type: number
        majority:
          type: integer
        type_choices:
          $ref: '#/components/schemas/Schedule'
    StationType:
      type: string
      enum:
        - station
        - platform
        - stop
        - checkpoint
        - post
        - crossing
        - overtaking_point
        - train_station
        - airport
        - bus_station
        - bus_stop
        - unknown
        - port
        - port_point
        - wharf
        - river_port
        - marine_station
    TransportType:
      type: string
      enum:
        - plane
        - train
        - suburban
        - bus
        - helicopter
        - water
        - sea
    PointType:
      type: string
      enum: [station, settlement]
    Schedule:
      type: object
      properties:
        desktop_url:
          type: string
        touch_url:
          type: string
    CopyrightResponse:
      type: object
      properties:
        copyright:
          $ref: '#/components/schemas/Copyright'
    Copyright:
      type: object
      properties:
        logo_vm:
          type: string
          description: Вертикальный монохромный баннер.
        url:
          type: string
        logo_vd:
          type: string
        logo_hy:
          type: string
        logo_hd:
          type: string
        logo_vy:
          type: string
        text:
          type: string
        logo_hm:
          type: string
    AllStationsResponse:
      type: object
      properties:
        countries:
          type: array
          items:
            $ref: '#/components/schemas/Country'
    Country:
      type: object
      properties:
        regions:
          type: array
          items:
            $ref: '#/components/schemas/Region'
        codes:
          $ref: '#/components/schemas/PointCodes'
        title:
          type: string
          description: Название страны.
    Region:
      type: object
      properties:
        settlements:
          type: array
          items:
            $ref: '#/components/schemas/Settlement'
        codes:
          $ref: '#/components/schemas/PointCodes'
        title:
          type: string
          description: Название региона
    Settlement:
      type: object
      properties:
        title:
          type: string
          description: Название населенного пункта
        codes:
          $ref: '#/components/schemas/PointCodes'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
    Station:
      type: object
      properties:
        direction:
          type: string
          description: Направление движения поездов, на котором находится станция
        codes:
          $ref: '#/components/schemas/StationCodes'
        station_type:
          #$ref: '#/components/schemas/StationType'
          type: string
        title:
          type: string
          description: Название станции
        transport_type:
          $ref: '#/components/schemas/TransportType'
        latitude:
          oneOf:
            - type: number
            - type: string
          description: Широта станции
        longitude:
          oneOf:
            - type: number
            - type: string
          description: Долгота станции
    StationCodes:
      type: object
      properties:
        esr_code:
          type: string
          description: Код железнодорожной станции в системе кодирования ЕСР
        yandex_code:
          type: string
          description: Код в системе кодирования Яндекс Расписаний
    PointCodes:
      type: object
      properties:
        yandex_code:
          type: string
    
        
        
          
        
        
        
        
        
      
      
